<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.RegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/register-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Upgrade</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Upgrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upgrade</servlet-name>
		<url-pattern>/upgrade-secret</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetUploadUrl</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.GetUploadUrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUploadUrl</servlet-name>
		<url-pattern>/get-upload-url</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BugReport</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.BugReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BugReport</servlet-name>
		<url-pattern>/bug-report</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BlobDownload</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.BlobDownload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlobDownload</servlet-name>
		<url-pattern>/blob-download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Publish</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Publish</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Publish</servlet-name>
		<url-pattern>/publish</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>LevelGetComment</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.LevelGetComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LevelGetComment</servlet-name>
		<url-pattern>/level-get-comment</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>LevelGetAll</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.LevelGetAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LevelGetAll</servlet-name>
		<url-pattern>/level-get-all</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ResourceDownload</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.ResourceDownload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceDownload</servlet-name>
		<url-pattern>/resource-download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.DownloadSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadSync</servlet-name>
		<url-pattern>/download-sync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatCreate</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.ChatCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatCreate</servlet-name>
		<url-pattern>/token/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatConnected</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.ChatConnected</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatConnected</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserResourcesSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.UserResourcesSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserResourcesSync</servlet-name>
		<url-pattern>/user-resources-sync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HighscoreSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.HighscoreSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HighscoreSync</servlet-name>
		<url-pattern>/highscore-sync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HighscoreGet</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.HighscoreGet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HighscoreGet</servlet-name>
		<url-pattern>/highscore-get</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
