<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- User -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/api/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.RegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/api/register-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/api/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PasswordResetSendToken</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.PasswordResetSendToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PasswordResetSendToken</servlet-name>
		<url-pattern>/api/password-reset-send-token</url-pattern>
	</servlet-mapping>
	
	
	<!-- Published -->
	<servlet>
		<servlet-name>Publish</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Publish</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Publish</servlet-name>
		<url-pattern>/api/publish</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentFetch</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.CommentFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentFetch</servlet-name>
		<url-pattern>/api/comment-fetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LevelFetch</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.LevelFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LevelFetch</servlet-name>
		<url-pattern>/api/level-fetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnemyFetch</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.EnemyFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnemyFetch</servlet-name>
		<url-pattern>/api/enemy-fetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BulletFetch</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.BulletFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BulletFetch</servlet-name>
		<url-pattern>/api/bullet-fetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourceDownload</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.ResourceDownload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceDownload</servlet-name>
		<url-pattern>/api/resource-download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.DownloadSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadSync</servlet-name>
		<url-pattern>/api/download-sync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HighscoreSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.HighscoreSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HighscoreSync</servlet-name>
		<url-pattern>/api/highscore-sync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HighscoreGet</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.HighscoreGet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HighscoreGet</servlet-name>
		<url-pattern>/api/highscore-get</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StatSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.StatSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatSync</servlet-name>
		<url-pattern>/api/stat-sync</url-pattern>
	</servlet-mapping>
	
	
	<!-- User resources -->
	<servlet>
		<servlet-name>UserResourceSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.UserResourceSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserResourceSync</servlet-name>
		<url-pattern>/api/user-resource-sync</url-pattern>
	</servlet-mapping>
	
	
	<!-- Upload/Download -->
	<servlet>
		<servlet-name>GetUploadUrl</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.GetUploadUrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUploadUrl</servlet-name>
		<url-pattern>/api/get-upload-url</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BlobDownload</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.BlobDownload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlobDownload</servlet-name>
		<url-pattern>/api/blob-download</url-pattern>
	</servlet-mapping>
	
	
	<!-- Misc -->
	<servlet>
		<servlet-name>BugReport</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.BugReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BugReport</servlet-name>
		<url-pattern>/api/bug-report</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatCreate</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.ChatCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatCreate</servlet-name>
		<url-pattern>/token/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatConnected</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.ChatConnected</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatConnected</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Analytics</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Analytics</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Analytics</servlet-name>
		<url-pattern>/api/analytics</url-pattern>
	</servlet-mapping>

	
	<!-- Testing -->
	<servlet>
		<servlet-name>Upgrade</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.Upgrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upgrade</servlet-name>
		<url-pattern>/upgrade-secret</url-pattern>
	</servlet-mapping>
	
	
	<!-- Security -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
