<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


	<!--———————————————
	 		API
	———————————————–-->
	<!-- User -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/api/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.RegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/api/register-user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/api/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PasswordResetSendToken</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.PasswordResetSendToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PasswordResetSendToken</servlet-name>
		<url-pattern>/api/password-reset-send-token</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PasswordReset</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.PasswordReset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PasswordReset</servlet-name>
		<url-pattern>/api/password-reset</url-pattern>
	</servlet-mapping>
	
	
	<!-- Published -->
	<servlet>
		<servlet-name>Publish</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.Publish</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Publish</servlet-name>
		<url-pattern>/api/publish</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentFetch</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.CommentFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentFetch</servlet-name>
		<url-pattern>/api/comment-fetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LevelFetch</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.LevelFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LevelFetch</servlet-name>
		<url-pattern>/api/level-fetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnemyFetch</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.EnemyFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnemyFetch</servlet-name>
		<url-pattern>/api/enemy-fetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BulletFetch</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.BulletFetch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BulletFetch</servlet-name>
		<url-pattern>/api/bullet-fetch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourceDownload</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.ResourceDownload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceDownload</servlet-name>
		<url-pattern>/api/resource-download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.DownloadSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadSync</servlet-name>
		<url-pattern>/api/download-sync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HighscoreSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.HighscoreSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HighscoreSync</servlet-name>
		<url-pattern>/api/highscore-sync</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HighscoreGet</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.HighscoreGet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HighscoreGet</servlet-name>
		<url-pattern>/api/highscore-get</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StatSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.StatSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatSync</servlet-name>
		<url-pattern>/api/stat-sync</url-pattern>
	</servlet-mapping>
	
	
	<!-- User resources -->
	<servlet>
		<servlet-name>UserResourceSync</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.UserResourceSync</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserResourceSync</servlet-name>
		<url-pattern>/api/user-resource-sync</url-pattern>
	</servlet-mapping>
	
	
	<!-- Upload/Download -->
	<servlet>
		<servlet-name>GetUploadUrl</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.GetUploadUrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUploadUrl</servlet-name>
		<url-pattern>/api/get-upload-url</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BlobDownload</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.BlobDownload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlobDownload</servlet-name>
		<url-pattern>/api/blob-download</url-pattern>
	</servlet-mapping>
	
	
	<!-- Misc -->
	<servlet>
		<servlet-name>BugReport</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.BugReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BugReport</servlet-name>
		<url-pattern>/api/bug-report</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Analytics</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.api.Analytics</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Analytics</servlet-name>
		<url-pattern>/api/analytics</url-pattern>
	</servlet-mapping>


	<!--———————————————
	 		CHANNEL
	———————————————–-->
	<servlet>
		<servlet-name>ChatCreate</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.backend.ChatCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatCreate</servlet-name>
		<url-pattern>/token/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatConnected</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.backend.ChatConnected</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatConnected</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	<!-- <servlet>
		<servlet-name>ChatReceive</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.backend.ChatReceive</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatReceive</servlet-name>
		<url-pattern>/chat-receive</url-pattern>
	</servlet-mapping> -->
	
	
	<!--———————————————
	 		WEB
	———————————————–-->
	<!-- Beta signup -->
	<servlet>
		<servlet-name>BetaSignup</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.web.BetaSignup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BetaSignup</servlet-name>
		<url-pattern>/beta-signup</url-pattern>
	</servlet-mapping>
	<!-- Browse Beta Key Group -->
	<servlet>
		<servlet-name>BetaKeys</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.web.BetaKeys</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BetaKeys</servlet-name>
		<url-pattern>/beta-keys</url-pattern>
	</servlet-mapping>
	
	
	<!--———————————————
	 		ADMIN
	———————————————–-->
	<!-- Testing -->
	<servlet>
		<servlet-name>Upgrade</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.admin.Upgrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upgrade</servlet-name>
		<url-pattern>/admin/upgrade-secret</url-pattern>
	</servlet-mapping>
	<!-- Beta Key Generator -->
	<servlet>
		<servlet-name>BetaKeyGenerate</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.admin.BetaKeyGenerate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BetaKeyGenerate</servlet-name>
		<url-pattern>/admin/generate-beta-keys</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Motd</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.admin.Motd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Motd</servlet-name>
		<url-pattern>/admin/motd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Fixit</servlet-name>
		<servlet-class>com.spiddekauga.voider.servlets.admin.Fixit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fixit</servlet-name>
		<url-pattern>/admin/fixit</url-pattern>
	</servlet-mapping>
	
	<!--———————————————
	 	  SECURITY
	———————————————–-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
